* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    border: none;
  }
  
  body.dark-mode {
    background-color: #1e1e1e;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 1000;
  }
  
  body.dark-mode .navbar {
    background-color: #121212;
  }

  body.dark-mode .footer {
    background-color: #121212; 
    color: #fff;
  }

  .dark-mode .navbar {
    background-color: #121212; 
  }
  
  .dark-mode .footer {
    background-color: #121212;
    color: #fff;
  }
  
  .dark-mode-toggle .sun-icon {
    color: #f39c12;
  }
  
  .dark-mode-toggle .moon-icon {
    color: #f1c40f;
  }
  
  .card {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .chat-room {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dark-mode .chat-room {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .chatroom-header {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .dark-mode .chatroom-header {
    background-color: #333333;
    color: #ffffff;
  }
  
  .chatroom-subtitle {
    color: #6c757d;
  }
  
  .dark-mode .chatroom-subtitle {
    color: #bbbbbb;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .dark-mode .table {
    background-color: #1e1e1e;
  }
  
  .dark-mode .table-bordered {
    border-color: #444444;
  }
  
  .dark-mode .table-hover tbody tr:hover {
    background-color: #333333;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }